body{
    background-color: #f5f5f5;
}

.navbar-custom {
    background-color: #05202D; /* Verde claro */
    height: 80px; /* Altura personalizada */

}

.footer-black {
    background-color: #000;
    color: #fff;
    padding-top: 20px;
    height: 100px;
    line-height: 60px;
}

.col-gris {
    background-color: #ccc;
    width: 50%;
    height: 100vh;
}
.mitad_pantalla {
    width: 50%;
    height: 100vh;
}
.boton_azul{
    background-color:#05202D;
    color: #fff;
    padding: 1rem;
}
.boton_celeste{
    background-color:#245268;
    color: #fff;
    padding: 1rem;
    padding-right: 0;
}
.boton_azul:hover{
    background-color:#17303d;
}

.boton_celeste:hover{
    background-color:#3B6275;
}
.col-celeste {
    
    width: 50%;
    height: 100vh;
    z-index: 1;
}

.bloque_info{
    
    margin-top: 10rem;
}
.bloque_info h3{
    color: #000000;
}

.bloque_proyectos {
    background: white url("../img/Rectangle8.png") no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;
    width: 100%;
    color: #fff;
}

.prueba {
    background-color: white;
    padding: 0;
    position: relative;
    top: 18rem;
    width: 100%;
    height: 25rem;
}
.titulo_resume{
    position:absolute;
    left: 68rem;
    z-index: 6;
    color: white;
    top: 8rem;
}
.imagen_about{
    position: relative;
    left: 10rem;
    
}
.barra_inferior_resume {
    
    position: relative;
    top: 28rem;
    height: 30rem;
}
.fondo-foto {
    background-color: black;
    border-radius: 2rem;
}
.foto {
    position: absolute;
    z-index: 4;
    top: 14rem;
    left: 10rem;
    width: 25rem;
    border-radius: 2rem;
}
.imagen_gris{
    position: absolute;
    left: 8rem;
    top: 2rem;
}
.linea_gris {
    position: relative;
    background-color: #ddd;
    width: 100px;
    height: 100%;
}
.articulo {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 2rem;
    border-top-left-radius: 0;
}

    .articulo img {
        position: relative;
        border-radius: 2rem;
        max-width: 200px;
        height: auto;
        
        
    }
.texto_miniatura {
    
    position: relative;
    right: 25rem;
    height: 100%;
    padding-left: 100px;
    
}
.img-parallax {
    position: absolute;
    top: -220px;
    left: 0;
    width: 100%;
    height: 140vh;
    object-fit: cover;
    z-index: -1;
    transition: transform 0.3s ease-out;
}

.linea_gris {
    position: absolute;
    width: 200px;
    height: inherit;
    background-color: #ccc;
    z-index: -1;
}
.contenedor_articulos{
    min-height: 100vh;
}

.footer_resume{
    position: absolute;
    top: 140%;
    background-color: black;
    width: 100%;
    height: 100px;
    padding: 20px;
    color: white;
}
.container-fluid.col-celeste {
    min-height: 80vh;
}

.articulo_encabezado {
    background-color: #fff;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.articulo_completo {
    background-color: #fff;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-bottom: 3rem;
    margin-top: 2rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.respuestas{
    margin-left: 3rem;
}
