{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row align-items-start">
        <div class="container-fluid col-celeste">
            <div class="container-xxl bloque_info">
                <div class="container align-items-center position-relative">

                    
                    <img src="../static/img/Rectangle12.png" class="img-fluid float-start  imagen_gris" style="z-index: 1; " alt="...">

                  
                    <img src="../static/img/Rectangle11.png" class="img-fluid float-start imagen_about position-relative" style="z-index: 2;" alt="...">

                </div>
            </div>
        </div>
        <div class="container-fluid mitad_pantalla">
            <div class="container-sm" style="position: relative; top: 2rem;">
                <h1 style="color: #05202D;"> Si desea conocer mas sobre mi,</h1>
                <h5> <br />En mi tiempo libre, me apasiona el mundo del deporte y la tecnologia. </h5>
                <h5> Practicar boxeo me ensena disciplina, perseverancia y concentracion, mientras que levantar pesas me ayuda a mantenerme en forma y saludable. </h5>
                <h5> Ademas, disfruto mucho jugando y desarrollando videojuegos, explorando la creatividad y la innovacion en este emocionante campo.</h5>
                <h1><br /></h1>
                <h1 style="color: #05202D;"> Decisiones de diseno de la pagina</h1>
                <h5> <br /> La paleta de colores azul que he elegido para este sitio web refleja mi personalidad y estilo. </h5>
                <h5> El azul es mi color favorito y lo considero representativo de la seriedad, la confianza y la calma. Creo firmemente que estos valores son fundamentales en cualquier proyecto que emprendo, ya que busco transmitir profesionalismo y fiabilidad a mis visitantes. </h5>
                <h5> En cuanto al diseno, he trabajado para crear una experiencia visualmente atractiva y funcional. Cada elemento, desde la disposicion de las secciones hasta la eleccion de las tipografias, ha sido cuidadosamente seleccionado para proporcionar una navegacion intuitiva y agradable.</h5>
                <h5> Espero que disfrutes explorando este sitio tanto como yo disfrute creandolo. </h5>
                <h5>Gracias por visitar</h5>

            </div>
        </div>
    </div>


</div>

{% endblock %}