
{% extends 'base.html' %}

{% block content %}

    <div class="container-xl mensaje">
        <h1>¡Gracias por contactarnos!</h1>
        <p>Hemos guardado tu información de contacto.</p>
        <a class="boton_mensaje" href="/" role="button">Volver a la pantalla de inicio</a>
    </div>

    <footer class="footer-black">
        <div class="container text-center">
            <div class="row align-items-start">
              <div class="col">
                <div class="container">
                    <a href="https://www.linkedin.com/" target="_blank">
                        <img src="../static/img/logo_linkedin.png" alt="perfil linkedin" />
                    </a>
                    <span>
                        <a href="https://www.facebook.com/" target="_blank">
                            <img src="../static/img/logo_facebook.png" alt="perfil facebook" />
                        </a>
                    </span>
                </div>
              </div>
              <div class="col">
                Fernando Arce Castillo
              </div>
              <div class="col">
                2222-2222
              </div>
            </div>
          </div>
    </footer>
{% endblock %}


