{% extends 'base.html' %}

{% block content %}
<div class="container-xxl articulo_encabezado">
    <h1 style="color: #3B6275; font-size: 50px;">{{ articulo.titulo }}</h1>
    <div class="col">
        {% comment %} <img src="../../static/img/{{ articulo.thumbnail_name }}" alt="{{ articulo.thumbnail_name }}"> {% endcomment %}
    </div>
    <h4>Autor: Fernando Arce Castillo</h4>
    <h4>
        <a href="#" class="like-button" data-id="{{ articulo.id }}">
            <i class="fas fa-heart"></i> {{ articulo.total_likes }}
        </a>
        
    </h4>
</div>

<div class="container-xxl articulo_completo">
    <h3>Categorías:</h3>
    <h4>
        {% for etiqueta in articulo.etiquetas.all %}
            {{ etiqueta.nombre }}
        {% endfor %}
        <br />
    </h4>
    <h3><br />Contenido </h3>
    <p>{{ articulo.contenido|linebreaks }}</p>

    <!-- Botón para abrir el modal de comentarios -->
    

    <!-- Modal -->
    <div class="modal fade" id="comentarioModal" tabindex="-1" aria-labelledby="comentarioModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="comentarioModalLabel">Agregar Comentario</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Agregar Comentario</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-xxl articulo_completo">
    <h3 style="color: #3B6275;">Comentarios</h3>
    <button type="button" class="btn btn-primary mt-4 mb-4" data-bs-toggle="modal" data-bs-target="#comentarioModal">
        Comentar
    </button>
    <div class="lista_comentarios mb-4">
        {% for comentario in comentarios %}
            <div class="comentario">
                <h5>{{ comentario.nombre }} <small>{{ comentario.fecha|date:"d M Y H:i" }}</small></h4>
                <p>{{ comentario.cuerpo|linebreaks }}</p>
                {% if comentario.respuestas.all %}
                <div class="accordion accordion-flush" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                <h5 style="color: #3B6275;"> Ver Respuestas </h5>
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <h5 style="color: #3B6275;"> Respuestas </h5>
                                <div class="respuestas">
                                    {% for respuesta in comentario.respuestas.all %}
                                    <div class="respuesta">
                                        <h5>{{ respuesta.nombre }} <small>{{ respuesta.fecha|date:"d M Y H:i" }}</small></h5>
                                        <p>{{ respuesta.cuerpo|linebreaks }}</p>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                {% endif %}
            </div>
            <hr>
        {% empty %}
            <p>No hay comentarios aún.</p>
        {% endfor %}
    </div>
</div>

<footer class="footer-black">
    <div class="container text-center">
        <div class="row align-items-start">
          <div class="col">
            <div class="container">
                <a href="https://www.linkedin.com/" target="_blank">
                    <img src="../../static/img/logo_linkedin.png" alt="perfil linkedin" />
                </a>
                <span>
                    <a href="https://www.facebook.com/" target="_blank">
                        <img src="../../static/img/logo_facebook.png" alt="perfil facebook" />
                    </a>
                </span>
            </div>
          </div>
          <div class="col">
            Fernando Arce Castillo
          </div>
          <div class="col">
            <div class="boton_contacto" data-toggle="modal" data-target="#contactModal">
                Contactarme
            </div>
          </div>
        </div>
      </div>
</footer>

<div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
       
            <div class="modal-header">
                <h5 class="modal-title" id="contactModalLabel">Contactarme</h5>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'contacto' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="email">Correo electrónico:</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" required>
                    </div>
                    <div class="form-group">
                        <label for="cuerpo">Mensaje:</label>
                        <textarea class="form-control" id="cuerpo" name="cuerpo" rows="3" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelector('.like-button').addEventListener('click', function(event) {
            event.preventDefault();
            const articleId = this.getAttribute('data-id');
            
            fetch(`/articulo/${articleId}/like/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                    'Content-Type': 'application/json',
                },
            }).then(response => {
                if (response.ok) {
                    window.location.reload();
                }
            });
        });
    });
    </script>
{% endblock %}
