{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row align-items-start">
      <div class="container-fluid col-celeste">
        <div class='.container-xxl bloque_info'>
            <h1 style="color: #05202D;"> Soy Fernando Arce,</h3>
                <h1 style="color: #05202D;"> Estudiante de Ing. Soft</h3>
                    <h1><br></h1>
                <h3>Soy un estudiante de ingeniería de software</h3>
                    <h3>con un especial interés en el <span style="color: #1D6F96;">desarrollo web</span></h3>
                    <h3>y el manejo de  <span style="color: #1D6F96;">bases de datos.</span></h3> 
                    <h3>El objetivo de este sitio web es el de mostrar mi trabajo</h3>
                    <h3>cualquiera que pudiese interesarle.</h3>
                    <h3><br></h1>
                    <div class="container text-start">
                        <div class="row align-items-start">
                          <div class="col-6 col-sm-3">
                            <div class="boton_azul">
                                <a href="{% url 'about' %}" style="text-decoration: none; color: white;">Más sobre mí</a>
                            </div>
                          </div>
                          <div class="col-6 col-sm-3">
                            <div class="boton_celeste" data-toggle="modal" data-target="#contactModal">
                                Contactarme
                            </div>
                        </div>
                         
                        </div>
                    </div>
                
        </div>
      </div>
      <div class="container-fluid col-gris">
        <div class='.container-xxl mt-4'>
        <h1 style="color:#05202D;"> Tecnologías dominadas</h1>
            <div class="container text-start">
                <div class="row align-items-start">
                  <div class="col">
                    <ul class="list-group">
                        <li class="list-group-item">C</li>
                        <li class="list-group-item">C++</li>
                        <li class="list-group-item">C#</li>
                        <li class="list-group-item">Python</li>
                        <li class="list-group-item">Java</li>
                        <li class="list-group-item">SQL</li>
                        <li class="list-group-item">HTML, CSS</li>
                        <li class="list-group-item">Apache</li>
                      </ul>
                  </div>
                </div>
              </div>
            
        </div>
    </div>
  </div>

  
</div>
<div class="bloque_proyectos">
    <div class="container text-center mb-4" >
        <h1> <br>Proyectos Recientes </h1>
    </div>
    <div class="container overflow-hidden text-start mt-4">
        <div class="row gx-5">
            <div class="col">
                <div class="p-2">
                    <div class="card" style="width: 38rem; border-radius: 15px">
                        <img src="static/img/Rectangle5.png" class="card-img-top" alt="Proyecto web en apache">
                        <div class="card-body">
                            <h5 class="card-title">Sistema Help Desk</h5>
                            <p class="card-text">Sistema de Help Desk desarrollado en Apache, con backend en C y frontend HTML CSS.</p>
                            <a href="https://git.ucr.ac.cr/FABIAN.VEGAMEZA/pi-oper-y-redes-chayannes.git" class="btn btn-primary" style="background-color: #245268;">Ver Proyecto</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="p-2">
                    <div class="card" style="width: 38rem; border-radius: 15px">
                        <img src="static/img/Rectangle7.png" class="card-img-top" alt="Proyecto web en apache">
                        <div class="card-body">
                            <h5 class="card-title">Theme Park UCR</h5>
                            <p class="card-text">Proyecto que pretende recrear el ambiente de la UCR en un entorno de realidad virtual.</p>
                            <a href="https://github.com/UCR-PI-IS/ecci_ci0128_i2024_g01_pi.git" class="btn btn-primary" style="background-color: #245268;">Ver Proyecto</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



 </div>

 <footer class="footer-black">
    <div class="container text-center">
        <div class="row align-items-start">
          <div class="col">
            <div class="container">
                <a href="https://www.linkedin.com/" target="_blank">
                    <img src="../static/img/logo_linkedin.png" alt="perfil linkedin" />
                </a>
                <span>
                    <a href="https://www.facebook.com/" target="_blank">
                        <img src="../static/img/logo_facebook.png" alt="perfil facebook" />
                    </a>
                </span>
            </div>
          </div>
          <div class="col">
            Fernando Arce Castillo
          </div>
          <div class="col">
            <div class="boton_contacto" data-toggle="modal" data-target="#contactModal">
                Contactarme
            </div>
          </div>
        </div>
      </div>
</footer>

<div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
       
            <div class="modal-header">
                <h5 class="modal-title" id="contactModalLabel">Contactarme</h5>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'contacto' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="email">Correo electrónico:</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" required>
                    </div>
                    <div class="form-group">
                        <label for="cuerpo">Mensaje:</label>
                        <textarea class="form-control" id="cuerpo" name="cuerpo" rows="3" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

